
/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
    background-image: url("../img/sky-49520_640.jpg");
    background-repeat: no-repeat;
    background-size: cover
}
.container h1{
    margin: 5px 0 10px 0;
    font-family: 'Oswald', sans-serif;
}
.city{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 5px auto 0;
    height: 90vh; 
     /* height delate in land space */
}
.searchingPanel{
    display: inline-block;
    margin: 20px 0
}
.city input{
    height: 30px;
    width: 70%;
    font-size: 13px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 25px 0 0 25px;
    background: burlywood
    
}
.city button{
    height: 30px;
    width: 30%;
    font-size: 13px;
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none; 
    background: #ffc107;
    cursor: pointer;
}

/* mobile */

@media(min-width:411px) and (min-height:731px){
    .city input{
        height: 35px;
    }
    .city button{
        height: 35px;
    }
}
@media(min-width:375px) and (min-height:812px){
    .city input{
        height: 35px;
    }
    .city button{
        height: 35px;
    }
}
@media(min-width:768px) and (min-height:1024px){
    .container{
        background-image: url("../img/sky-49520_1280.jpg");
    }
    .container h1{
        font-size: 40px
    }
    .city{
        font-size: 25px
    }
    .city input{
        height: 40px;
        font-size: 20px
    }
    .city button{
        height: 40px;
        font-size: 20px;
    }
}
/* deskop */
@media(min-width:984px) and (min-height:722px){
    .container{
        background-image: url("../img/sky-49520_1280.jpg");
    }
    .container h1{
        font-size: 35px
    }
    .city{
        width: 50%;
        font-size: 20px
    }
    .city input{
        height: 32px;
        font-size: 20px
    }
    .city button{
        height: 32px;
        font-size: 20px;
    }
}
@media(min-width:1024px) and (min-height:722px){
    .container{
        background-image: url("../img/sky-49520_1280.jpg");
    }
    .container h1{
        font-size: 40px
    }
    .city{
        width: 50%;
        font-size: 20px
    }
    .city input{
        height: 35px;
        font-size: 20px
    }
    .city button{
        height: 35px;
        font-size: 20px;
    }
}
@media(min-width:1024px) and (min-height:1366px){
    .container{
        background-image: url("../img/sky-49520_1280.jpg");
    }
    .container h1{
        font-size: 60px
    }
    .city{
        font-size: 40px
    }
    .city input{
        height: 55px;
        font-size: 25px
    }
    .city button{
        height: 55px;
        font-size: 25px;
    }
}



@media(min-width:1368px) and (min-height:937px){
    .container{
        background-image: url("../img/sky-49520_1280.jpg");
    }
    .container h1{
        font-size: 130px
    }
    .city{
        width: 40%;
        font-size: 85px
    }
    .city input{
        height: 120px;
        font-size: 50px
    }
    .city button{
        height: 120px;
        font-size: 50px;
    }
}
