*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow-x: hidden;
    height: 100vh;
    
}
.container h1{
    margin: 15px
}
.citys{
    display: flex;
    justify-content: space-between;
    margin-top: 5px
}
.city{
    display: flex;
    flex-direction: column;
    width: 33.33vw;
}
.city h2 {
    font-size: 20px
}