
/* font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700
}

.container{
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    overflow-x: hidden;
    background-image: url("../img/sky-49520_640.jpg");
    background-repeat: no-repeat;
    background-size: cover
}
.container h1{
    margin: 5px 0 10px 0;
    font-family: 'Oswald', sans-serif;
}
.city{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 5px auto 0;
     height: 90vh; 
     /* height delate in land space */
}
.searchingPanel{
    display: inline-block;
    margin: 20px 0
}
.city input{
    height: 30px;
    width: 70%;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 25px 0 0 25px;
    background: burlywood
}
.city button{
    height: 30px;
    width: 30%;
    font-size: 13px;
    border-radius: 0 25px 25px 0;
    border: none;
    outline: none; 
    background: #ffc107;
    cursor: pointer;
}